{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte
Open Data</a> en verder uitgewerkt binnen het Project <a href="https://www.vlaanderen.be/lokaal-bestuur/digitale-transformatie/gemeente-zonder-gemeentehuis/goedgekeurde-projecten/volgen-van-linkende-asset-gegevens-vlag">Volgen van Linkende Asset Gegevens</a>. Het applicatieprofiel laat toe om aanvullende reglementen, inname- en signalisatievergunningen gelinkt op te maken en te ontsluiten.</p>

    <p>Een vergunning bestaat ondermeer uit informatie over de aanvrager, datum van aanvraag, de opdrachtgever, uitvoerder en datum waarop de vergunning goedgekeurd wordt. Deze wordt verder opgesplitst in inname- en signalisatievergunning die link bevatten naar de effectieve inname en signalisatie die vergund wordt. Om bepaalde signalisatie te mogen plaatsen moet er een aanvullend reglement opgesteld worden. Merk op dat Signalisatie en Verkeerssignalisatie onderhevig zijn aan veranderingen door het OSLO-traject Verkeersbordendatabank.</p>

    <p>Een aanvullend reglement is een specifiek besluit waarbij de artikelen mobiliteitsmaatregelen beschrijven. Zo'n mobiliteitsmaatregel kan bijvoorbeeld gaan over een zone 30 invoeren of een omleiding invoeren. Waar Mobiliteitsmaatregel de overkoepelende term is, is de Verkeersmaatregel een specifieke invulling van de wegcode, bijvoorbeeld 'zone 30' is de verkeersmaatregel die hoort bij verkeersbord F4a.</p>

    <p>Het "netto"-resultaat van de inname(s) en het toepassen van mobiliteitsmaatregelen kan ervoor zorgen dat er mobiliteitshinder(s) ontstaat. Deze laatste entiteit bevat de link naar specifieke doelgroepen zodat er beter gecommuniceerd kan worden over de mobiliteitshinder.</p>
{% endblock %}

