{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium Mobiliteit is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte Open Data</a>.
Het Mobiliteit vocabularium specificeert een aantal klassen en eigenschappen om een besluit te beschrijven.</p>
{% endblock %}

{% block status %}

<p>Dit document is de specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten.</p>

<p>Dit vocabularium verzorgt de termen van 3 applicatieprofielen:
<ul>
<li>Besluit mobiliteit (Kandidaat standaard, binnenkort gepromoveerd tot erkende standaard)</li>
<li>Inname openbaar domein (Kandidaat standaard)</li>
<li>Verkeersborden (Kandidaat standaard)</li>
</ul>
</p>

<p>Feedback op deze specificatie kan gegeven worden via de <a href="mailto:digitaalABB@bz.vlaanderen.be">mailing lijst</a>
of als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLOthema-lokaleBesluiten/issues">
publieke reviewdiscussielijst</a>.</p>
{% endblock %}


{% block license %}
<p>Dit vocabularium van <a href="https://www.vlaanderen.be/nl/contact/adressengids/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">
Agentschap Binnenlands Bestuur</a> is uitgegeven onder de <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html">
Modellicentie Gratis Hergebruik - v1.0</a>.</p>
{% endblock %}
